<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz</title>
    <link rel="stylesheet" href="Resources/Public/Css/bootstrap-4.5.3.css" >
</head>
<body>
<div class="container">{% block content %}{% endblock %}</div>

<script src="Resources/Public/Js/jquery-3.5.1.slim.js"></script>
<script src="Resources/Public/Js/bootstrap.bundle.min.js"></script>
</body>
</html>