{% extends "Layout/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            {{ quiz.translate('question_failure') }}<br>
            <a href="/?action=showQuestion&q={{ q }}">{{ quiz.translate('question_failure_proceed') }}</a>
        </div>
    </div>
</div>
{% endblock %}