{% extends "Layout/layout.html" %}

{% block content %}
<h1>Highscore</h1>
{% if highscore %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                {{ quiz.translate('participant') }}
            </th>
            <th scope="col">
                {{ quiz.translate('correct_answers') }}
            </th>
        </tr>
    </thead>
    <tbody>
    {% for item in highscore %}
    <tr>
        <td>
            {{ item.name }}
        </td>
        <td>
            <strong>{{ item.score }}</strong>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger" role="alert">
    No participants in Highscore list
</div>
{% endif %}
<a href="/?action=startNewQuiz">{{ quiz.translate('start_new_quiz') }}</a><br>
{% if show_summary_link %}
<a href="/?action=showSummary">{{ quiz.translate('back_to_summary') }}</a>
{% endif %}

{% endblock %}