{% extends "Layout/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>QUIZ</h1>

        <p>{{ description }}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ quiz.translate('participant_failure') }}
        </div>
        {% endif %}
        <form method="POST">
            <div class="form-group">
                <label for="participant">{{ quiz.translate('participant') }}</label>
                <input type="text" required class="form-control" id="participant"
                       placeholder="{{ quiz.translate('participant_placeholder') }}" name="name">
            </div>
            <input type="hidden" value="saveParticipant" name="action">
            <button class="btn btn-success" type="submit">{{ quiz.translate('start') }}</button>
        </form>
        <a href="/?action=showHighScore">{{ quiz.translate('show_highscore') }}</a>
    </div>
</div>
{% endblock %}
