{% extends "Layout/layout.html" %}

{% block content %}
<h1>{{ quiz.translate('question') }}</h1>
<div class="row">
    <div class="col-lg-12">
        <h6>{{ question_text }}</h6>
    </div>
</div>
{% if additional_html %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    {{ additional_html|raw }}
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <form method="POST">
            {% for answer in answers %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="answer_{{ answer.id }}"
                       name="answer[{{ answer.id }}]">
                <label class="form-check-label" for="answer_{{ answer.id }}">{{ answer.answer_text }}</label>
            </div>
            {% endfor %}
            <input type="hidden" value="{{ next_question_count }}" name="next_question_count">
            <input type="hidden" value="{{ current_question_id }}" name="current_question_id">
            <input type="hidden" value="saveAnswers" name="action">
            <button class="btn btn-success" type="submit">{{ quiz.translate('save') }}</button>
        </form>
    </div>
</div>
{% endblock %}
