{% extends "Layout/layout.html" %}

{% block content %}
<h1>{{ quiz.translate('summary') }}</h1>

<h3>{{ quiz.translate('score', summary_score.score, summary_score.total) }}</h3>

{% for item in summary %}
<table class="table table-bordered" style="width:100%">
    <tr>
        <td colspan="3">
            <strong>{{ item.question.0.question_text }}</strong>
        </td>
    </tr>
    {% if item.question.0.additional_html %}
    <tr>
        <td colspan="3">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        {{ item.question.0.additional_html|raw }}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endif %}
    <tr class="table-info">
        <td>
            {{ quiz.translate('answer') }}
        </td>
        <td align="center">
            {{ quiz.translate('correct_answer') }}
        </td>
        <td align="center">
            {{ quiz.translate('your_answer') }}
        </td>
    </tr>
    {% for answer in item.answers %}

    {% if answer.correct and answer.answer_given_by_participant %}
        {% set class = 'table-success' %}
    {% elseif not answer.correct and answer.answer_given_by_participant %}
        {% set class = 'table-danger' %}
    {% elseif answer.correct and not answer.answer_given_by_participant %}
        {% set class = 'table-danger' %}
    {% else %}
        {% set class = '' %}
    {% endif %}

    <tr class="{{ class }}">
        <td>
            {{ answer.answer_text }}
        </td>
        <td align="center">
            {% if answer.correct %}
            X
            {% endif %}
        </td>
        <td align="center">
            {% if answer.answer_given_by_participant %}
            X
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3" align="right">
            <strong>{{ quiz.translate('points') }}: {{ item.points }}</strong>
        </td>
    </tr>
</table>
<hr>
{% endfor %}
<a href="/?action=startNewQuiz">{{ quiz.translate('start_new_quiz') }}</a><br>
<a href="/?action=showHighScore">{{ quiz.translate('show_highscore') }}</a>
{% endblock %}